# Temporary build files.
buildDir/
builddir/
_build/
.flatpak-builder/
.flatpak/
build-dir/
build-flatpak/
build-native/
build-native-debug/
build-native-debug
build/
build-appimage/
build-tests/
dist/
/tmp

# Miscellaneous.
.idea/
.vscode/*
!.vscode/extensions.json
gdb.sh
